@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
.browser-not-support-template {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.error-text-box {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #3A2357;
}
.error-text-box h4 {
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}
.error-text-box p {
  font-size: 18px;
  line-height: 28px;
}
.error-text-box p a{
  text-transform: capitalize;
  color: #009688;
  text-decoration: none;
  font-weight: bold;
}